
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAssetLabel" translate="adapApp.asset.home.createOrEditLabel">Create or edit a Asset</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="asset.id" readonly />
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="asset.name"
                    required ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="asset.description"
                    ng-maxlength="255" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                    ng-model="asset.details"
                     />
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.lastmodifiedby" for="field_lastmodifiedby">Lastmodifiedby</label>
            <input type="text" class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
                    ng-model="asset.lastmodifiedby"
                     />
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.domain" for="field_domain">Domain</label>
            <input type="text" class="form-control" name="domain" id="field_domain"
                    ng-model="asset.domain"
                     />
        </div>

        <div class="form-group">
            <label translate="adapApp.asset.objrecordtype" for="field_objrecordtype">objrecordtype</label>
            <select class="form-control" id="field_objrecordtype" name="objrecordtype" ng-model="asset.objrecordtype" ng-options="objrecordtype as objrecordtype.name for objrecordtype in objrecordtypes track by objrecordtype.id" ng-change="getclassifications(asset.objrecordtype.id)">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.objclassification" for="field_objclassification">objclassification</label>
            <select class="form-control" id="field_objclassification" name="objclassification" ng-model="asset.objclassification" ng-options="objclassification as objclassification.name for objclassification in objclassifications track by objclassification.id" ng-change="getcategories(asset.objclassification.id)">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.objcategory" for="field_objcategory">objcategory</label>
            <select class="form-control" id="field_objcategory" name="objcategory" ng-model="asset.objcategory" ng-options="objcategory as objcategory.name for objcategory in objcategorys track by objcategory.id" ng-change="gettypes(asset.objcategory.id)">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="adapApp.asset.objtype" for="field_objtype">objtype</label>
            <select class="form-control" id="field_objtype" name="objtype" ng-model="asset.objtype" ng-options="objtype as objtype.name for objtype in objtypes track by objtype.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
