<div>
<div>
<div>
            <label for="field_filter">Filter</label>
           <select class="form-control input-sm" placeholder="Select a Filter" ng-model="filterId" ng-options="filter.id as filter.name for filter in filters"  ng-change="executefilter(filter.id)">
                    </select>
</div>
<div>
            <label for="field_rules">Rules</label>
            <select class="form-control" name="rules" ng-model="ruleName" id="field_rules" required>
                <option value="Rule_one">Rule_one</option>
                <option value="Rule_two">Rule_two</option>
            </select>
</div>
<button id="fireRule" ng-click="fireRules()">Fire Rule</button>
</div>
    <h2 translate="adapApp.score.home.title">Scores</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="score.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="adapApp.score.home.createLabel">Create a new Score</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Score</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

  <div  class="panel-body">
        <div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
    </div>
</div>
