
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel" translate="adapApp.event.home.createOrEditLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="event.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="event.name"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="event.description"
                    ng-maxlength="255" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                    ng-model="event.details"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.eventdate" for="field_eventdate">Eventdate</label>
            <input id="field_eventdate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="event.eventdate" is-open="datePickerForEventdate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForEventdateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.severity" for="field_severity">Severity</label>
            <select class="form-control" name="severity" ng-model="event.severity" id="field_severity">
                <option value="Low" translate="adapApp.Severity.Low">Low</option>
                <option value="Medium" translate="adapApp.Severity.Medium">Medium</option>
                <option value="High" translate="adapApp.Severity.High">High</option>
                <option value="Catastrophic" translate="adapApp.Severity.Catastrophic">Catastrophic</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="event.status" id="field_status" required>
                <option value="Active" translate="adapApp.Status.Active">Active</option>
                <option value="Pending" translate="adapApp.Status.Pending">Pending</option>
                <option value="ToBeDeleted" translate="adapApp.Status.ToBeDeleted">ToBeDeleted</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.lastmodifiedby" for="field_lastmodifiedby">Lastmodifiedby</label>
            <input type="text" class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
                    ng-model="event.lastmodifiedby"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.lastmodifieddate" for="field_lastmodifieddate">Lastmodifieddate</label>
            <input id="field_lastmodifieddate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="event.lastmodifieddate" is-open="datePickerForLastmodifieddate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLastmodifieddateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapApp.event.domain" for="field_domain">Domain</label>
            <input type="text" class="form-control" name="domain" id="field_domain"
                    ng-model="event.domain"
                    required />
            <div ng-show="editForm.domain.$invalid">
                <p class="help-block"
                    ng-show="editForm.domain.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="adapApp.event.objrecordtype" for="field_objrecordtype">objrecordtype</label>
            <select class="form-control" id="field_objrecordtype" name="objrecordtype" ng-model="event.objrecordtype" ng-options="objrecordtype as objrecordtype.name for objrecordtype in objrecordtypes track by objrecordtype.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="adapApp.event.objclassification" for="field_objclassification">objclassification</label>
            <select class="form-control" id="field_objclassification" name="objclassification" ng-model="event.objclassification" ng-options="objclassification as objclassification.name for objclassification in objclassifications track by objclassification.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="adapApp.event.objcategory" for="field_objcategory">objcategory</label>
            <select class="form-control" id="field_objcategory" name="objcategory" ng-model="event.objcategory" ng-options="objcategory as objcategory.name for objcategory in objcategorys track by objcategory.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="adapApp.event.objtype" for="field_objtype">objtype</label>
            <select class="form-control" id="field_objtype" name="objtype" ng-model="event.objtype" ng-options="objtype as objtype.name for objtype in objtypes track by objtype.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
