<div>
    <h2 translate="adapApp.eventmbr.home.title">Eventmbrs</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="eventmbr.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="adapApp.eventmbr.home.createLabel">Create a new Eventmbr</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Eventmbr</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="adapApp.eventmbr.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifiedby"><span translate="adapApp.eventmbr.lastmodifiedby">Lastmodifiedby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifieddate"><span translate="adapApp.eventmbr.lastmodifieddate">Lastmodifieddate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="domain"><span translate="adapApp.eventmbr.domain">Domain</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="event.id"><span translate="adapApp.eventmbr.event">event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="asset.id"><span translate="adapApp.eventmbr.asset">asset</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eventmbr in eventmbrs track by eventmbr.id">
                    <td><a ui-sref="eventmbr.detail({id:eventmbr.id})">{{eventmbr.id}}</a></td>
                    <td translate="{{'adapApp.Status.' + eventmbr.status}}">{{eventmbr.status}}</td>
                    <td>{{eventmbr.lastmodifiedby}}</td>
                    <td>{{eventmbr.lastmodifieddate | date:'medium'}}</td>
                    <td>{{eventmbr.domain}}</td>
                    <td>
                        <a ui-sref="event.detail({id:eventmbr.event.id})">{{eventmbr.event.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="asset.detail({id:eventmbr.asset.id})">{{eventmbr.asset.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="eventmbr.detail({id:eventmbr.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="eventmbr.edit({id:eventmbr.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="eventmbr.delete({id:eventmbr.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
