<div>
    <h2 translate="adapApp.route.home.title">Routes</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="route.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="adapApp.route.home.createLabel">Create a new Route</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Route</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div  class="panel-body">
        <div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
    </div>
</div>
