
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myObjrecordtypeLabel" translate="adapApp.objrecordtype.home.createOrEditLabel">Create or edit a Objrecordtype</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="objrecordtype.id" readonly />
        </div>
        <div class="form-group">
            <label translate="adapApp.objrecordtype.objecttype" for="field_objecttype">Objecttype</label>
            <input type="text" class="form-control" name="objecttype" id="field_objecttype"
                    ng-model="objrecordtype.objecttype"
                    required ng-maxlength="50" />
            <div ng-show="editForm.objecttype.$invalid">
                <p class="help-block"
                    ng-show="editForm.objecttype.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.objecttype.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="adapApp.objrecordtype.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="objrecordtype.name"
                    required ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="adapApp.objrecordtype.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="objrecordtype.status" id="field_status" required>
                <option value="Active" translate="adapApp.Status.Active">Active</option>
                <option value="Pending" translate="adapApp.Status.Pending">Pending</option>
                <option value="ToBeDeleted" translate="adapApp.Status.ToBeDeleted">ToBeDeleted</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="adapApp.objrecordtype.lastmodifiedby" for="field_lastmodifiedby">Lastmodifiedby</label>
            <input type="text" class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
                    ng-model="objrecordtype.lastmodifiedby"
                     />
        </div>
        <div class="form-group">
            <label translate="adapApp.objrecordtype.lastmodifieddate" for="field_lastmodifieddate">Lastmodifieddate</label>
            <input type="datetime-local" class="form-control" name="lastmodifieddate" id="field_lastmodifieddate"
                    ng-model="objrecordtype.lastmodifieddate"
                     />
        </div>
        <div class="form-group">
            <label translate="adapApp.objrecordtype.domain" for="field_domain">Domain</label>
            <input type="text" class="form-control" name="domain" id="field_domain"
                    ng-model="objrecordtype.domain"
                    required ng-maxlength="25" />
            <div ng-show="editForm.domain.$invalid">
                <p class="help-block"
                    ng-show="editForm.domain.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.domain.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
